@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Spectral';
    src: url('./assets/fonts/Spectral-Regular.ttf');
}

*{
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

h2{
    font-family: 'Spectral', sans-serif;
    font-size: 1.85rem;
}

html{
    transition: all ease-in-out 700ms;
    scrollbar-width: none;
}